nav
{
	background-color: rgba(255,255,255,0.9);
}

nav .brand-logo
{
	color: black;
	margin-left: 100px;
}

nav .brand-logo span
{
	color: #11B0CB

}

nav ul 
{
	margin-right: 300px;
}

nav ul a
{
	color: black;
}

nav .what_blue
{
	color: #11B0CB;
}


/* section ban*/

.ban
{
	height: 500px;
	width: 100%;
	background-image: url(img/bg.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.ban h1

{
	color: #fff;
	font-weight: bold;
	text-align: center;

}

.btn, .btn-large
{
	background-color: #11B0CB;

}


/* Section text */

.text
{
	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
}


.text h2
{
	color: #11B0CB;
	font-weight: bold;
	font-size: ;
	text-align: center;
	margin-top: 100px;
}

.text p
{
	text-align: center;
}

/* Section vignette*/

.vignettes
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 100px;

}

.vignettes img
{
	width: 200px;
	height: 200px;
}

.vignettes_solo 
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.vignettes_solo h3
{
	font-size: 25px;
	color: #11B0CB;
}

.vignettes_solo p 
{
	text-align: center;

}